<footer class="bd-footer text-muted">
<div class="container">
  <p>
    <a href='http://www.freepik.com/free-vector/white-background-with-olive-leaves_1008247.htm'>Olive branch vector by Freepik</a>,
    <a href='https://commons.wikimedia.org/wiki/File:Santiago_landscape.jpg'>Santiago landscape by David Pozo </a><a href='https://creativecommons.org/licenses/by-sa/3.0/deed.en'>(license)</a>,
    <a href='https://flic.kr/p/PX7nB'>Hotel Explora by Travel South America </a><a href='https://creativecommons.org/licenses/by-nc-nd/2.0/'>(license)</a>.
  </p>
</div>
</footer>
