{% assign nav_classes="flex-sm-fill text-sm-center nav-link" %}
{% assign pages = "Details|Accommodation|About Us|Wedding Party|Venue|Honeymoon|Registry" | split: "|" %}

<nav class="nav flex-wrap justify-content-center">
  {% for item in pages %}
    {% assign slugged_item = item | slugify | strip %}
    {% assign filtered_url = page.url | remove: ".html" | remove: "/" | strip %}
    {%if slugged_item != filtered_url %}
      <a class="{{nav_classes}}" href="/{{ item | slugify }}">{{ item }}</a>
    {% else %}
      <a class="{{nav_classes}} nav-active" href="/{{ item | slugify }}">{{ item }}</a>
    {% endif %}
  {% endfor %}
</nav>
