<nav class="nav flex-wrap justify-content-center">
  {% if include.includeHome == "true" %}
    <a class="flex-sm-fill text-sm-center nav-link" href="/">Home</a>
  {% endif %}
  <a class="flex-sm-fill text-sm-center nav-link" href="/accommodation">Accommodation</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/about-us">About Us</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/wedding-party">Wedding Party</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/venue">Venue</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/honeymoon">Honeymoon</a>
  <a class="flex-sm-fill text-sm-center nav-link" href="/registry">Registry</a>
</nav>
