.brand {
  text-align: center;
  font-family: 'Sofia', cursive;
  color: #004300;
  padding-top: 1.5rem;

  img.olive {
    width: 15rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    a {
      color: inherit;
      text-decoration: inherit;
    }
  }

  h2 {
    font-size: 1.5rem;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0.5rem;
  }
}
