.nav {
  font-family: 'Sofia', cursive;
  font-size: 1.2em;
  border-bottom: 1px solid $oc-gray-3;

  a {
    color: $oc-gray-7;
    text-decoration: none;
  }

  a:hover {
    color: #003e7c;
  }
}
