.nav {
  font-family: 'Sofia', cursive;
  font-size: 1.2rem;
  border-bottom: 1px solid $oc-gray-3;

  a {
    color: $oc-gray-7;
    text-decoration: none;
  }

  a:hover {
    color: #003e7c;
  }

  & .nav-active {
    border-bottom: 1px solid grey;
    margin-bottom: -1px; // So border is on nav border-bottom
  }
}
