.splash {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content{
    min-width: 70%;

    h1 {
      margin: 3rem 0;
    }

    h2 {
      font-size: 3rem;
      margin-bottom: 3rem;
    }

    .nav {
      border: none;

      a {
        font-size: 1.5rem;
      }
    }
  }

  .card {
    margin-bottom: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}
